body {
    background-color: whitesmoke;
}

.box {
    background-color: lightgray;
    height: 20em;
    width: 30em ;
    margin-top: 3em;
    position: relative;
    border-radius: 1em;
    padding: 1em;
    border-style: double;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    
}

.bigbox{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    padding-bottom: 3em;
}

.lobao{
    width: 99vw;
}
.vinod{
    background-color: #2C5680;
    padding: 5em;
}
.vinod1{
    color: #DEB959;
    font-family: 'Darker Grotesque';
    margin-left: 41.5vw;
    font-weight: 1000;
    font-size: 30px;
}
.vinod2 {
    color: #FFFFFF;
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-top: 2em;
}
.cong {
    background-color: #333333;
    padding: 5em;
    width: 100%;
    display: flex;
}
.cong1 {
    padding: 3em;
}
.cong10{
    color: #FFFFFF;
    margin-left: 6em;
    margin-bottom: 1em;
    font-weight: 1000;
    font-size: larger;
}
.cong11{
    color:#FFFFFF;
    font-weight: 600;
}
.gianfranco{
    padding: 0 2em;
    flex: 1 1 auto;
}
.limites{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    padding: 1em;
}
.teoremaconfronto{
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.155em;
    padding: 2em;
}


.titulo {
    font-size: 1.8em;
    display: flex;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: flex-start;
    gap:1em;
}
    

.principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.9em;
}

.input1 {
    height: 1.2em;
    width: 14em;
    border-radius: 3px;
    border-width: 1px;
}

.input2 {
    height: 1.2em;
    width: 4em;
    border-radius: 3px;
    border-width: 1px;
}

.input3 {
    height: 1.2em;
    width: 35em;
    border-radius: 3px;
    border-width: 1px;
}

.input4 {
    height: 7em;
    width: 35em;
    border-radius: 3px;
    border-width: 1px;
    resize: none;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* .trueBotao {
    background-color: #85CDF5;
    border-radius: 5px;
    border: none;
    height: 2em;
    width: 6em;
    transition-duration: 0.6s;
}

  
  .trueBotao:hover {
    background:  #3ab7fb;
    font-weight: 900;
    letter-spacing: 1px;
} */

