body {
    font-family: 'Raleway', sans-serif;
}

header {
    font-weight: 1000;
    font-size: 20px;
    background-color: #85CDF5;
    height: 5em;
    width: 100%;
    min-height: 1em;
    display: flex;
    justify-content: center;

}

.menuh {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5em;
}

.menuh a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menuh a:hover {
    transition: color .6s;
    color: rgb(163, 163, 163);
}

.icone {
    height: 90%;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: row;
    background-color: #333333;
    align-items: center;
    /* padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 10em; */
    gap: 2em;

}

.infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer2 {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.bordinha {
    height: 0.35em;
    background-image: linear-gradient(to right, yellow, gray, rgb(111, 111, 156));
    width: 100%;
}

.pata {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 14em;
}


@media (max-width:900px) {
    footer {
        flex-direction: column;
        padding-top: 4em;
        padding-bottom: 5em;
        padding-left: 0em;
        gap: 2em;
    }

    .pata {
        padding-left: 0em;
    }

}

.qs {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.3em;
    font-weight: 1000;
    background-color: rgba(253, 202, 91, 0.781);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 1s;
}

.qs:hover {
    transition: color .6s;
    color: rgb(64, 0, 124);
}







.total {
    margin: 51px 0;
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.contato {
    align-items: center;
    display: flex;
}

.parte {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.mapa {
    margin-right: 25px;
}

.quemsomos {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0.3em;
    font-weight: 1000;
    background-color: rgba(253, 202, 91, 0.781);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition-duration: 1s;
}

.dp {
    display: flex;
    flex-direction: column;
    min-width: 130px;
}

.desenvolvidocom {
    margin: 6px 10px 10px 0;
    text-align: center;
    color: white;
    font-size: 18px;
}

.imgdes {
    margin: 6px 10px 10px 0;
    display: flex;
    justify-content: center;
}

@media (max-width:1060px) {
    .mapa{
        margin: 0;
    }
    .contato{
        display: flex;
        flex-direction: column;
    }
    .mapa{
        margin-bottom: 25px;
    }
    /* .header{

    } */
    .menuh{
        gap: 0;
        justify-content: space-around;
    }

}
@media(max-width:520px) {
    .total{
        flex-direction: column;
    }
    .desenvolvidocom{
        padding-top: 50px;
    }
}